<div class="center small">

Revisi isi halaman ini dengan tombol edit dibawah, apabila menurut anda ada yang keliru, ada yang perlu ditambahkan atau hal lainnya, dengan tujuan agar isi konten lebih baik lagi.
     <a class="butedit" target="_blank" rel="nofollow" href="https://artipedia.id/admin/#/collections/{{ page.category }}/entries/{{ page.path | replace: '_posts/artikel/','' | replace: '_posts/buku/','' | replace: '_posts/berita/','' | replace: '_posts/materi/','' | replace: '_posts/soal/','' | replace: '_posts/teori/','' | replace: '_posts/rpp/','' | replace: '.md','' | replace: '.markdown',''}}"><i class="fa fa-pencil"></i><span> Edit</span></a>
    </div>

