<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/" title="Halaman Utama">Home</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/sambutan" title="Sambutan">Panduan</a>
  </li>
  <li>
    <a class="{% if page.url contains '/author-list %}current{% endif %}" href="/authors-list" title="Author" id="Author">Author</a>
  </li>
<li>
    <a href="/search" title="Cari">Cari</a>
  </li>
 <li class="current">
    <a title="Login" href="/admin">Buku</a>
  </li>
</ul>
