<div class="unit one-fifth hide-on-mobile no-print">
  <aside>
	  	<div class="aside w6">
        <h3 class="widget-title">Kategori</h3>
       
</div>
	   <ul class="tagcloud">
{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign sortedCategories = site_categories | split:',' | sort %}
            {% for category in sortedCategories  %}		
            <li><a href="https://artipedia.id/{{ category }}">{{ category }}</a></li>
            {% endfor %}<div class="clear"></div>
        </ul>
	  
	  <div class="aside"><h3>Ads</h3><div class="aside ads">
	 {% include ads-sidebar.html %}
    </div></div>
	  <div class="aside w">
    <h3>Terbaru</h3>
    <ul>
        {% for post in site.posts limit:10 %}
                <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
     
        {% endfor %}
    </ul>
    </div>


  </aside>
</div>
